---
import type { ModelJson } from "@entities/Model";
import { getEntryBySlug } from "astro:content";

type Props = {
  model: ModelJson;
};
const { model } = Astro.props as Props;
const { slug } = model;

const modelAdditionalInfo = await getEntryBySlug("modelAdditionalInfos", slug);
const { Content } = modelAdditionalInfo
  ? await modelAdditionalInfo.render()
  : { Content: null };
---

{
  Content && (
    <div
      id="model-additional-info"
      class="prose-sm mt-10"
      aria-label={`Дополнительная информация о Velar ${model.name}`}
    >
      <Content />
    </div>
  )
}
