---
import { Picture } from '@astrojs/image/components';
---

<section
  id="column-examples"
  aria-label="Примеры трубчатых радиаторов Velar в интерьере"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-20">
  <h2 class="text-3xl font-light text-left">
    Стальные трубчатые радиаторы Velar WH в интерьере
  </h2>

  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    Трубчатые радиаторы хорошо подходят для большинства интерьеров. Они могут
    быть как современными, так и классическими. В зависимости от выбранной
    модели и цвета, они могут стать как заметным акцентом, так и слиться с
    окружающими элементами.
  </div>

  <div class="mt-8 grid gap-9 grid-cols-1 md:grid-cols-3">
    <Picture
      src={'/images/columns/1.jpg'}
      alt={'Стальной трубчатый радиатор стандартной высоты с нижним подключенеим в белом цвете'}
      title={'Стальной трубчатый радиатор стандартной высоты с нижним подключенеим в белом цвете'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
    <Picture
      src={'/images/columns/2.jpg'}
      alt={'Низкий трубчатый радиатор Velar с нижним подключением в белом цвете'}
      title={'Низкий трубчатый радиатор Velar с нижним подключением в белом цвете'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
    <Picture
      src={'/images/columns/3.jpg'}
      alt={'Вертикальный трубчатый радиатор стального цвета'}
      title={'Вертикальный трубчатый радиатор стального цвета'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/columns/4.jpg'}
      alt={'Вертикальный трубчатый радиатор Velar зеленого цвета'}
      title={'Вертикальный трубчатый радиатор зеленого цвета'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/columns/5.jpg'}
      alt={'Вертикальный трубчатый радиатор Velar красного цвета'}
      title={'Вертикальный трубчатый радиатор красного цвета'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/columns/6.jpg'}
      alt={'Стальной трубчатый радиатор Velar красного цвета'}
      title={'Стальной трубчатый радиатор красного цвета'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/columns/7.jpg'}
      alt={'Нижнее подключение трубчатого радиатора с м/о расстоянием 50 мм'}
      title={'Нижнее подключение трубчатого радиатора с м/о расстоянием 50 мм'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/columns/8.jpg'}
      alt={'Черный трубчатый радиатор Velar с нижним подключением'}
      title={'Черный трубчатый радиатор Velar с нижним подключением'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/columns/9.jpg'}
      alt={'Белый трубчатый радиатор Velar с нижним подключением'}
      title={'Белый трубчатый радиатор Velar с нижним подключением'}
      loading={'lazy'}
      aspectRatio="667:1000"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
  </div>
</section>
