---
import { Picture } from '@astrojs/image/components';
---

<section
  id="retro-examples"
  aria-label="Преимущества стальных трубчатых радиаторов"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-10">
  <h2 class="text-3xl font-light text-left">Преимущества</h2>

  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    Стальные трубчатые радиаторы стоят дороже бюджетных батарей. Высокая
    стоимость связана со сложностью производства. Однако преимущества
    перекрывают этот недостаток:

    <ol class="list-decimal md:pl-4">
      <li class="mt-2">
        <strong>Разнообразие</strong>: Трубчатые радиаторы Velar WH могут быть
        изготовлены высотой от 30 см до 2 м. Число трубок в секции варьируется
        от 2 до 4. Это позволяет подобрать модели для помещений любого размера и
        требуемой мощности.
      </li>

      <li class="mt-2">
        <strong>Прочность и долгий срок службы</strong>: Velar WH изготовлены из
        высококачественной стали, что обеспечивает высокую прочность. Отсутствие
        резьбовых соединений делает их устойчивыми к гидроударам.
      </li>

      <li class="mt-2">
        <strong>Универсальность</strong>: Трубчатые батареи предлагают
        стандартные подключения. Боковое - 1/2 или 3/4 дюйма. Модели высотой 57
        см имеют межосевое расстояние 50 см, их можно использовать для замены
        чугунных батарей без переноса труб отопления. Нижнее - с межосевым
        расстоянием 50 мм.
      </li>

      <li class="mt-2">
        <strong>Безопасность</strong>: Сглаженные изгибы и отсутствие острых
        углов делают их безопасными.
      </li>

      <li class="mt-2">
        <strong>Гигиеничность</strong>: Гладкая поверхность не только облегчает
        очистку, но также предотвращает накопление пыли.
      </li>

      <li class="mt-2">
        <strong>Короткие сроки производства</strong>: Velar WH изготавливаются
        по индивидуальному заказу в течение месяца. Популярные модели
        поддерживаются на складе
      </li>
    </ol>
  </div>
</section>
