---
---

<section
  id="retro-faq"
  aria-label="Ответы на часто задаваемые вопросы про трубчатые радиаторы отопления"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-20"
  itemscope
  itemprop="https://schema.org/FAQPage">
  <h2 class="text-3xl font-light text-left">Часто задаваемые вопросы</h2>
  <div class="mt-2 text-sm leading-relaxed">
    Здесь собраны ответы на часто задаваемые вопросы о стальных трубчатых
    радиаторах отопления.
  </div>

  <!-- ---- -->

  <details
    class="mt-4 max-w-3xl"
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <summary
      class="text-md font-normal hover:cursor-pointer hover:text-red-600"
      itemprop="name"
      >Подходят ли трубчатые радиаторы для центрального отопления</summary
    >
    <div
      class="p-2 leading-relaxed"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer">
      <div
        itemprop="text"
        class="md:pl-4 text-sm">
        <p>
          Да. Трубчатые радиаторы могут быть установлены в многоэтажных домах.
          Их можно установить как в домах с вертикальной разводкой через стояки
          отопления, так и в домах с горизонтальной разводкой труб. Максимальное
          рабочее давление составляет 16 атм. Velar WH соответствуют требованиям
          ГОСТ РФ 31311-2005.
        </p>
      </div>
    </div>
  </details>

  <!-- ---- -->

  <details
    class="mt-4 max-w-3xl"
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <summary
      class="text-md font-normal hover:cursor-pointer hover:text-red-600"
      itemprop="name"
      >Можно ли устанавливать радиаторы в открытую систему отопления</summary
    >
    <div
      class="p-2 leading-relaxed"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer">
      <div
        itemprop="text"
        class="md:pl-4 text-sm">
        <p>
          Радиаторы можно устанавливать только в закрытую систему отопления.
          Запрещается установка и эксплуатация радиатора в системах горячего
          водоснабжения (ГВС). Также важно отметить, что в течение всего всего
          периода эксплуатации система отопления должна быть заполнена
          теплоносителем. Если вы подключаете радиатор не к центральному
          отоплению, то обязательно проверьте, соответствует ли ваша система
          требованиям, указанным в паспорте изделия.
        </p>
      </div>
    </div>
  </details>

  <!-- ---- -->

  <details
    class="mt-4 max-w-3xl"
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <summary
      class="text-md font-normal hover:cursor-pointer hover:text-red-600"
      itemprop="name"
      >Чем трубчатые радиаторы отличаются от чугунных</summary
    >
    <div
      class="p-2 leading-relaxed"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer">
      <div
        itemprop="text"
        class="md:pl-4 text-sm">
        <p>
          Трубчатые радиаторы изначально создавались как замена чугунным.
          Поэтому у них есть много общих черт. В то же время, есть и
          существенные отличия. Стальные батареи имеют меньшую тепловую инерцию.
          Они нагерваются и остывают быстрее чугунных. Это позволяет более
          эффективно регулировать температуру в доме. Также сталь является менее
          хрупким материалом, чем чугун. Она более устойчива к перепадам
          давления.
        </p>
      </div>
    </div>
  </details>

  <!-- ---- -->

  <details
    class="mt-4 max-w-3xl"
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <summary
      class="text-md font-normal hover:cursor-pointer hover:text-red-600"
      itemprop="name"
      >Что означают цифры в обозначении радиаторов Velar WH</summary
    >
    <div
      class="p-2 leading-relaxed"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer">
      <div
        itemprop="text"
        class="md:pl-4 text-sm">
        <p>
          Артикулы трубчатых радиаторов состоят из 4 цифр. Первая цифра означает
          число трубок в секции. Следующие 3 цифры - это высота отопительного
          прибора. Например, <strong>2180</strong> - это 2-трубчатый радиатор высотой
          180 см.
        </p>
      </div>
    </div>
  </details>

  <!-- ---- -->

  <details
    class="mt-4 max-w-3xl"
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <summary
      class="text-md font-normal hover:cursor-pointer hover:text-red-600"
      itemprop="name"
      >Почему трубчатые радиаторы &quot;слабее&quot; панельных батарей</summary
    >
    <div
      class="p-2 leading-relaxed"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer">
      <div
        itemprop="text"
        class="md:pl-4 text-sm">
        <p>
          Не всегда так, но часто трубчатые радиаторы имеют меньшую тепловую
          мощность, чем панельные батареи тех же размеров. Это связано с тем,
          что у них нет внутренних конвекционных пластин. С одной стороны, это
          уменьшает теплоотдачу за счет конвекции. С другой - отсутствие пластин
          значительно упрощате уборку отопительного прибора от грязи. Подбирая
          замену для панельного радиатора, оставленного застройщиком, учтите,
          что трубчатый радиатор аналогичной мощности скорее всего будет
          длиннее.
        </p>
      </div>
    </div>
  </details>

  <!-- ---- -->

  <details
    class="mt-4 max-w-3xl"
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <summary
      class="text-md font-normal hover:cursor-pointer hover:text-red-600"
      itemprop="name"
      >Можно ли изменить число секций трубчатого радиатора</summary
    >
    <div
      class="p-2 leading-relaxed"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer">
      <div
        itemprop="text"
        class="md:pl-4 text-sm">
        <p>
          Нет. Трубчатые радиаторы собираются путем сварки секций друг с другом.
          Это придает им дополнительную прочность. Но изменение числа секций,
          ровно как и замена, становится невозможным.
        </p>
      </div>
    </div>
  </details>
</section>
