---
import { Picture } from '@astrojs/image/components';
---

<section
  id="column-about"
  aria-label="Что такое трубчатые радиаторы"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-24">
  <h2 class="text-3xl font-light text-left">Что такое трубчатые радиаторы</h2>

  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    <p>
      Секции трубчатого радиатора состоят из вертикальных трубок (от 2 до 4),
      соединенных с верхним и нижним коллекторами. Как сами секции, так и
      коллекторы изготавливаются из стали. Для сборки секций и соединения их
      друг с другом используется сварка. Здесь нет резьбовых соединений.
      Благодаря такому методу производства удается достичь не только высокой
      прочности радиатора, но и его вариативности: изменяя длину вертикальных
      трубок можно менять его высоту и теплоотдачу.
    </p>

    <p class="mt-4">
      Радиаторы окрашиваются порошковой краской: порошок распыляется на
      заготовку и затем подвергается обжигу при высокой температуре, образуя
      прочное покрытие. Ее основные преимущества включают высокую стойкость к
      механическим воздействиям, устойчивость к ультрафиолетовому излучению,
      возможность покраски сложных форм и деталей без потери качества, а также
      экологическую безопасность за счет отсутствия растворителей и токсичных
      веществ в составе.
    </p>

    <p class="mt-4">
      На рынке трубчатые радиаторы занимают нишу дизайнерских отопительных
      приборов премиум-класса. Их можно использовать как элемент декора,
      подчеркивающий стиль помещения. В то же время, они обладают высокой
      теплоотдачей, могут быть установлены в многоквартирных домах, подключаться
      как к центральному, так и к автономному отоплению. Подключение возможно
      боковое и нижнее. Таким образом, трубчатые радиаторы сочетают в себе
      практичность и эстетику.
    </p>
  </div>
</section>
