---
import { getEntryBySlug } from "astro:content";

type Props = { slug: string, isColumns?: boolean, class?: string };
const { slug, isColumns = false, class: className = "prose-sm" } = Astro.props satisfies Props;

const modelDescription = await getEntryBySlug("modelDescriptions", isColumns ? "columns" : slug);

const { Content } = modelDescription
  ? await modelDescription.render()
  : { Content: null };
---

{
  Content !== null && (
    <div class={className}>
      <Content />
    </div>
  )
}
