---
import { getEntryBySlug } from "astro:content";

type Props = { slug: string, isColumns?: boolean };
const { slug, isColumns = false } = Astro.props satisfies Props;

const modelDescription = await getEntryBySlug("modelDescriptions", isColumns ? "columns" : slug);

const { Content } = modelDescription
  ? await modelDescription.render()
  : { Content: null };
---

{
  Content !== null && (
    <div class='prose-sm'>
      <Content />
    </div>
  )
}
