---
import type { ModelJson } from '@entities/Model'
import { getModelSlug } from '@shared/utils/getModelSlug'

type Props = {
	model: Pick<ModelJson, 'slug' | 'name' | 'prefix' | 'type'>
}
const { model } = Astro.props as Props
const { slug, name, prefix } = model
---

<div
	class='mt-0 mb-1'
	aria-label='Breadcrumb'
>
	<span class='text-xs font-thin'>модель:</span>
	<a
		href={getModelSlug(model)}
		aria-label='Перейти на страницу модели'
		class='text-xs text-red-500 hover:underline'
	>
		{prefix}
		{name}
	</a>
</div>
