---
type Props = {
	productTitle: string
}

const { productTitle } = Astro.props as Props
---

<section
	id='retro-examples'
	aria-label='Преимущества стальных трубчатых радиаторов'
	class='justify-center max-w-6xl mx-auto px-5 md:px-10 mt-12'
>
	<h2 class='text-3xl font-light text-left'>Как заказать {productTitle}</h2>
	<div class='mt-5 text-sm leading-relaxed max-w-3xl'>
		Вы можете оформить заказ на сайте, добавив интересующие вас товары в
		корзину. Обязательно укажите ваши контактные данные, чтобы мы могли с вами
		связаться для согласования деталей. Если запрос будет оформлен в выходны
		дни, то наши менеджеры свяжутся с вами в начале первого рабочего дня.
	</div>
	<div class='mt-5 text-sm leading-relaxed max-w-3xl'>
		Также заказ можно оформить по телефону, электронной почте, онлайн чату или
		через форму <a
			href='/request'
			class='text-red-600 font-normal hover:underline'
			>обратной связи</a
		>. Здесь можно указать требования а отопительным приборам: требуемая
		мощность или площаь помещения, тип подключения, цвет и т.д. А также любая
		информация, которую вы считаете важной. Мы можем помочь с подбором
		радиаторов отопления на основе плана помещения.
	</div>

	<h2 class='text-3xl font-light text-left mt-[50px]'>Доставка и оплата</h2>
	<div class='mt-5 text-sm leading-relaxed max-w-3xl'>
		Мы предоставляем услуги доставки по всей России. В Санкт-Петербурге возможна
		доставка до двери. Для остальных городов доставка осуществляется через
		транспортные компании, такие как Деловые Линии, Возовоз, Байкал-Сервис, ПЭК
		и другие. Доставка до терминала ТК в городе отправления осуществляется за
		наш счет. Груз обязательно отправляется в жесткой упаковке и со страховкой,
		если такая услуга предусмотрена перевозчиком.
	</div>
	<div class='mt-5 text-sm leading-relaxed max-w-3xl'>
		Вы можете оплатить товар любым удобным для вас способом. Мы принимаем оплату
		как от физических, так и от юридических лиц: банковский перевод, оплата
		картой онлайн и перевод поо QR-коду.
	</div>
	<div class='mt-5 text-sm leading-relaxed max-w-3xl'>
		В случае, если товар приобретается под заказ, необходимо заключить договор и
		внести предоплату. Радиаторы и конвекрторы, произведенные по индивидуальному
		заказу, не подлежат возврату или обмену. После этого отопительные приборы
		запускаются в производство. Сроки поставки зависят от степени загрузки и
		могут варьирововаться. Пожалуйста, уточняйте актуальную информацию у
		менеджера.
	</div>
</section>
