---
import { Picture } from '@astrojs/image/components';
---

<section
  id="retro-examples"
  aria-label="Примеры ретро-радиаторов в интерьере"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-10">
  <h2 class="text-3xl font-light text-left">
    Чугунные ретро-радиаторы в интерьере
  </h2>

  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    Ретро радиаторы в интерьере не только обеспечивают надёжное и эффективное
    отопление, но и добавляют уют и стиль.
  </div>

  <div class="mt-8 grid gap-9 grid-cols-1 md:grid-cols-3">
    <Picture
      src={'/images/retro/retro_1.jpg'}
      alt={'Чугунный ретро радиатор в интерьере'}
      title={'Чугунный ретро радиатор в интерьере'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
    <Picture
      src={'/images/retro/retro_2.jpg'}
      alt={'Чугунный ретро-радиатор в интерьере'}
      title={'Чугунный ретро-радиатор в интерьере'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
    <Picture
      src={'/images/retro/retro_3.jpg'}
      alt={'Чугунный ретро-радиатор Velar в интерьере'}
      title={'Чугунный ретро-радиатор Velar в интерьере'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg"
    />
    <Picture
      src={'/images/retro/retro_4.jpg'}
      alt={'Чугунный ретро радиатор Velar в интерьере'}
      title={'Чугунный ретро радиатор Velar в интерьере'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
    <Picture
      src={'/images/retro/retro_5.jpg'}
      alt={'Чугунный ретро радиатор пример в интерьере'}
      title={'Чугунный ретро радиатор пример в интерьере'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
    <Picture
      src={'/images/retro/retro_6.jpg'}
      alt={'Чугунный ретро-радиатор пример в интерьере'}
      title={'Чугунный ретро-радиатор пример в интерьере'}
      loading={'lazy'}
      aspectRatio="1:1"
      widths={[290, 400, 600, 1000]}
      width={300}
      sizes="300px"
      class="border-[1px] border-slate-300 rounded-lg mx-auto md:mx-0"
    />
  </div>
</section>
