---
import { Picture } from '@astrojs/image/components';
---

<section
  id="retro-examples"
  aria-label="Примеры ретро-радиаторов в интерьере"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-10">
  <h2 class="text-3xl font-light text-left">
    Преимущества чугунных ретро-радиаторов от Velar
  </h2>

  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    Радиаторы из чугуна известны своей долговечностью, не требуют особого
    качества теплоносителя, устойчивы к коррозии и не вызывают засорения
    системы. Важной особенностью является высокая термодинамическая инерция,
    которая позволяет сохранять тепло дольше и сглаживать температурные
    перепады, делая климат в помещении более комфортным. Чугунные радиаторы
    также способствуют поддержанию здорового микроклимата, так как излучают
    тепло при низкой конвекции, что предотвращает пересушивание воздуха.
  </div>

  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    Благодаря возможности индивидуального подхода к каждому заказу, мы
    предлагаем короткие сроки производства. Клиенты могут выбирать из широкого
    ассортимента цветов, включая такие уникальные оттенки как состаренное
    серебро, бронза, медь и золото. Доступна также двухцветная покраска, которая
    позволяет выделить орнамент на радиаторе, а также нанесение различных
    текстур по желанию клиента, включая имитацию дерева. Эти функции делают
    каждый радиатор уникальным элементом декора, идеально вписывающимся в любой
    интерьер.
  </div>
</section>
