---
---

<section
  id="retro-examples"
  aria-label="Примеры ретро-радиаторов в интерьере"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-10">
  <h2 class="text-3xl font-light text-left">
    Рекомендации по монтажу и эксплуатации
  </h2>
  <div class="mt-5 text-sm leading-relaxed max-w-3xl">
    При выборе и монтаже чугунного ретро радиатора важно уделить внимание
    нескольким аспектам, чтобы обеспечить долговечность и эффективность его
    работы. Вот несколько полезных советов:

    <ol class="list-decimal md:pl-4">
      <li class="mt-2">
        <strong>Согласование марки антифриза</strong>: Если планируется
        использование антифриза в качестве теплоносителя, необходимо тщательно
        подобрать его марку. Это поможет избежать протечек между секциями,
        поскольку некоторые типы антифриза могут повредить прокладки.
      </li>

      <li class="mt-2">
        <strong>Контроль за давлением</strong>: При первичном подключении
        чугунного ретро радиатора важно осторожно и плавно открывать запорный
        вентиль, дабы избежать резкого скачка давления, способного повредить
        отопительный прибор.
      </li>

      <li class="mt-2">
        <strong>Правильная транспортировка</strong>: Ретро батареи достаточно
        тяжелые, поэтому их следует переносить вертикально. Переноска плашмя
        может привести к его деформации и ослаблению соединений между секциями.
      </li>

      <li class="mt-2">
        <strong>Осторожность при монтаже запорной арматуры</strong>: При
        установке вентилей важно не прилагать излишние усилия, чтобы не
        повредить прокладки.
      </li>

      <li class="mt-2">
        <strong>Проверка соединений</strong>: Перед установкой необходимо
        проверить все ниппельные соединения на предмет ослабления, которое могло
        произойти во время транспортировки.
      </li>

      <li class="mt-2">
        <strong>Правильное расположение</strong>: Рекомендуется устанавливать
        чугунную батарею с учетом определенных расстояний: от пола до низа
        радиатора 7-10 см, от подоконника до верха 8-12 см, от стены до задней
        стороны 3-5 см.
      </li>

      <li class="mt-2">
        <strong>Диагональное подключение для больших радиаторов</strong>: Для
        радиаторов, имеющих свыше 10 секций, рекомендуется диагональная схема
        для оптимального распределения тепла.
      </li>

      <li class="mt-2">
        <strong>Установка воздухоотводчика</strong>: Воздухоотводный клапан
        следует устанавливать только на верхнем присоединительном отверстии для
        эффективного удаления воздуха из системы.
      </li>

      <li class="mt-2">
        <strong>Испытания после монтажа</strong>: По окончании установки
        необходимо провести испытания радиатора и составить акт ввода в
        эксплуатацию.
      </li>
    </ol>
  </div>
</section>
