---
import { getCollection } from "astro:content";
import Layout from "@shared/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import Breadcrumbs from '@widgets/breadcrumbs/Breadcrumbs.astro';

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { article: article.slug },
    props: { article },
  }));
}

type Props = {
  article: CollectionEntry<"articles">;
};
const { article } = Astro.props as Props;
const { Content } = await article.render();
const { title, short_description } = article.data;

const crumbs = [
	{title: 'Главная', url: '/'},
	{title: 'Полезные материалы', url: '/info'},
  {title: title, url: `/info/${article.slug}`},
]
---

<Layout
  title={`${title} | VelarShop.ru`}
  description={short_description}
>
   <section class="mb-3">
<Breadcrumbs items={crumbs} />
</section>
  <article class='container mx-auto p-5 md:px-10 max-w-4xl prose-sm prose-h2:font-light prose-h2:text-3xl'>
    <Content />
  </article>
</Layout>
