---
const target = '/info/kak-otlichit-kachestvennoe-lite-radiatorov'
---

<!doctype html>
<html lang='ru'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='refresh' content={`0;url=${target}`} />
		<link rel='canonical' href={target} />
		<title>Переадресация</title>
	</head>
	<body>
		<p>Переход на материал: <a href={target}>{target}</a></p>
	</body>
</html>
