---
import { getEntryBySlug } from "astro:content";

type Props = { slug: string };
const { slug } = Astro.props as Props;

const itemDescription = await getEntryBySlug("itemDescriptions", slug);

const { Content } = itemDescription
  ? await itemDescription.render()
  : { Content: null };
---

{
  Content !== null && (
    <div class="prose-sm">
      <Content />
    </div>
  )
}
