---
import Layout from "@shared/layouts/Layout.astro";
---

<Layout title='VelarShop.ru | Страница не существует'>
  <div class='text-center mt-20'>
    <h1 class='text-3xl font-thin'>Странца не найдена</h1>
    <div class='text-sm mt-5 px-15'>
      К сожалению, страница, которую вы ищете, не существует.
    </div>
  </div>
</Layout>
