---
import Layout from '@shared/layouts/Layout.astro'
import Breadcrumbs from '@widgets/breadcrumbs/Breadcrumbs.astro';
import BuyerInfo from '@widgets/buyerInfo/BuyerInfo.astro'
import ModelList from '@widgets/ModelList.astro'
import ColumnsAbout from '@widgets/pageColumns/ColumnsAbout.astro'
import ColumnsBenefits from '@widgets/pageColumns/ColumnsBenefits.astro'
import ColumnsExamples from '@widgets/pageColumns/ColumnsExamples.astro'
import ColumnsFaq from '@widgets/pageColumns/ColumnsFaq.astro'
import ColumnsModels from '@widgets/pageColumns/ColumnsModels.astro'

const crumbs = [
	{title: 'Главная', url: '/'},
	{title: 'Трубчатые радиаторы отопления', url: '/columns'},
]
---

<Layout
	title='Трубчатые радиаторы отопления Velar WH | купить | VelarShop.ru'
	description='Большой выбор трубчатых радиаторов отопления.2-х, 3-х и 4-х трубчатые модели. В наличии и под заказ (4 недели). Высота до 2 м. Подходят для многоквартирных домов. Доставка по России.'
>
	<Breadcrumbs items={crumbs} />

	<h1 class='text-3xl font-bold mt-7 md:mt-5'>Трубчатые радиаторы отопления Velar WH</h1>
	<div class='text-sm max-w-xl mt-3 leading-6'>
		Трубчатые радиаторы Velar WH – стальные секционные радиаторы колончатого
		типа. Идеально закругленная форма радиатора Velar WH выделяет среди
		остальных, его специальная модульная конструкция очень надежна и эффективна,
		подходит, как для модернизации старых, так и для новых отопительных систем,
		экологически чистые и энерго сберегающие радиаторы Velar это идеальный выбор
		для каждого дома. Срок производства стальных трубчатых радиаторов отопления составляет <span
			class='font-bold'>4 недели</span
		><sup>*</sup>.
	</div>

	<ModelList type='columns' />

	<div class='mt-[40px] text-xs font-light max-w-[500px]'>
		<sup>*</sup> Указан срок производства без учета времени доставки. В некоторых
		случаях срок производства трубчатых радиаторов может быть увеличен, в зависимости
		от загруженности производства. Актуальные сроки уточняйте у менеджера.
	</div>

	<ColumnsAbout />

	<ColumnsModels />

	<ColumnsBenefits />

	<ColumnsExamples />

	<ColumnsFaq />

<section
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-20"
>
	<h2 class="text-3xl font-light text-left">Полезные материалы</h2>
		<div class="mt-2 text-sm leading-relaxed">
			<ul class="list-disc list-outside pl-4">
				<li>
					<a href="/info/termostats" class='font-normal underline hover:no-underline'>
						Как правильно устанавливать термоголовки для радиаторов
					</a>
				</li>
				<li class="mt-1">
					<a href="/info/column-radiators-pros-cons" class='font-normal underline hover:no-underline'>
						Трубчатые радиаторы: преимущества и недостатки
					</a>
				</li>
					<li class="mt-1">
					<a href="/info/tube-radiators" class='font-normal underline hover:no-underline'>
						Стальные трубчатые радиаторы Velar
					</a>
				</li>
					<li class="mt-1">
					<a href="/info/radiator-types" class='font-normal underline hover:no-underline'>
						Виды радиаторов отопления
					</a>
				</li>
					<li class="mt-1">
					<a href="/info/chernye-dizainerskie-radiatory-otopleniya" class='font-normal underline hover:no-underline'>
						Черные дизайнерские радиаторы отопления
					</a>
				</li>
					<li class="mt-1">
					<a href="/info/steel-tube-radiators-guide" class='font-normal underline hover:no-underline'>
						Стальные трубчатые радиаторы: Полное руководство по выбору и установке
					</a>
				</li>
				<li class="mt-1">
					<a href="/info/kak-chistit-trubchatyj-radiator-otopleniya" class='font-normal underline hover:no-underline'>
				Как правильно чистить трубчатый радиатор отопления
					</a>
				</li>
				<li class="mt-1">
					<a href="/info/raschet-sekciy-trubchatogo-radiatora-uglovaya-komnata" class='font-normal underline hover:no-underline'>
						Как правильно рассчитать количество секций трубчатого радиатора для угловой комнаты
					</a>
				</li>
			</ul>
		</div>
	</section>


	<BuyerInfo productTitle='стальные трубчатые радиаторы отопления Velar' />

	
</Layout>
