---
import Layout from "@shared/layouts/Layout.astro";
import ModelList from "@widgets/ModelList.astro";
---

<Layout title='Трубчатые радиаторы Velar | полный каталог | VelarShop.ru'>
  <h1 class='text-3xl font-bold mt-7 md:mt-5'>Трубчатые радиаторы Velar</h1>
  <div class='text-sm max-w-xl mt-3 leading-6'>
    Трубчатые радиаторы Velar WH – стальные секционные радиаторы колончатого типа. Идеально закругленная форма радиатора Velar WH выделяет среди остальных, его специальная модульная конструкция очень надежна и эффективна, подходит, как для модернизации старых, так и для новых отопительных систем, экологически чистые и энерго сберегающие радиаторы Velar это идеальный выбор для каждого дома.
  </div>
  <ModelList type='columns' />
</Layout>
