---
import Layout from '@shared/layouts/Layout.astro';
import ModelList from '@widgets/ModelList.astro';
---

<Layout title="Встраиваемые в пол конвекторы Velar | KWH и KWHV | VelarShop.ru">
  <h1 class="text-3xl font-bold mt-7 md:mt-5">
    Внутрипольные конвекторы Velar
  </h1>
  <div class="text-sm max-w-xl mt-3 leading-6">
    Внутрипольные конвекторы отопления Velar — надежное оборудование для самых
    смелых и современных проектов. Широкий размерный ряд, современное
    технологическое решение, адаптивный дизайн. Наша продукция изготовлена для
    российского рынка, отвечает всем стандартам качества, выдерживает
    максимальные нагрузки на систему отопления.
  </div>
  <ModelList type="convector" />
</Layout>
