---
import Layout from '@shared/layouts/Layout.astro'
import Breadcrumbs from '@widgets/breadcrumbs/Breadcrumbs.astro';
import BuyerInfo from '@widgets/buyerInfo/BuyerInfo.astro'
import ModelList from '@widgets/ModelList.astro'

const crumbs = [
	{title: 'Главная', url: '/'},
	{title: 'Напольные радиаторы', url: '/floor'},
]
---

<Layout title='Напольные радиаторы Velar | Q500, P200 и P300 | VelarShop.ru'>
	<Breadcrumbs items={crumbs} />
	<h1 class='text-3xl font-bold mt-7 md:mt-5'>Напольные радиаторы Velar</h1>
	<div class='text-sm max-w-xl mt-3 leading-6'>
		Напольные радиаторы (радиаторы-скамейки) предназначены для обогрева таких
		помещений, как лоджии, веранды, спортивные залы, торговые площади и т.д.
		Скрытое подключение позволяет спрятать трубы и не привлекать к ним внимания.
		Высококачественная покраска в цвета из палитры RAL открывает широкие
		возможности цветовых решений. Огромный выбор вариантов исполнения длины
		позволяет подобрать идеальный вариант радиатора для любого интерьера. Срок
		производства напольных радиаторов составляет <span class='font-bold'
			>5-6 недель</span
		><sup>*</sup>.
	</div>

	<ModelList type='floor' />

	<div class='mt-[40px] text-xs font-light max-w-[500px]'>
		<sup>*</sup> Указан срок производства без учета времени доставки. В некоторых
		случаях срок производства напольных радиаторов может быть увеличен, в зависимости
		от загруженности производства. Актуальные сроки уточняйте у менеджера.
	</div>

		<section
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-20"
>
	<h2 class="text-3xl font-light text-left">Полезные материалы</h2>
		<div class="mt-2 text-sm leading-relaxed">
			<ul class="list-disc list-outside pl-4">
				<li>
					<a href="/info/floor-design-radiators" class='font-normal underline hover:no-underline'>
						Напольные дизайн-радиаторы: особенности, преимущества и недостатки
					</a>
				</li>
				<li class="mt-1">
					<a href="/info/radiatory-dlya-panoramnykh-okon-tipy-osobennosti" class='font-normal underline hover:no-underline'>
						Радиаторы для панорамных окон: типы и особенности
					</a>
				</li>
				
			</ul>
		</div>
	</section>

	<BuyerInfo productTitle='напольные дизайн-радиаторы Velar' />
</Layout>
