---
import Layout from '@shared/layouts/Layout.astro';
import ModelList from '@widgets/ModelList.astro';
---

<Layout title="Напольные радиаторы Velar | Q500, P200 и P300 | VelarShop.ru">
  <h1 class="text-3xl font-bold mt-7 md:mt-5">Напольные радиаторы Velar</h1>
  <div class="text-sm max-w-xl mt-3 leading-6">
    Напольные радиаторы (радиаторы-скамейки) предназначены для обогрева таких
    помещений, как лоджии, веранды, спортивные залы, торговые площади и т.д.
    Скрытое подключение позволяет спрятать трубы и не привлекать к ним внимания.
    Высококачественная покраска в цвета из палитры RAL открывает широкие
    возможности цветовых решений. Огромный выбор вариантов исполнения длины
    позволяет подобрать идеальный вариант радиатора для любого интерьера. Срок
    производства напольных радиаторов составляет <span class="font-bold"
      >5-6 недель</span
    ><sup>*</sup>.
  </div>

  <ModelList type="floor" />

  <div class="mt-[40px] text-xs font-light max-w-[500px]">
    <sup>*</sup> Указан срок производства без учета времени доставки. В некоторых
    случаях срок производства напольных радиаторов может быть увеличен, в зависимости
    от загруженности производства. Актуальные сроки уточняйте у менеджера.
  </div>
</Layout>
