---
import Layout from "@shared/layouts/Layout.astro";
// TODO !! Форма закрывает часть сайта
---

<Layout
  title='🔥 Расчёт радиаторов и конвекторов | VelarShop.ru'
  hideShoppingCartWidgt={true}
>
<div class='flex flex-col mx-auto p-5 md:px-10 max-w-4xl'>
  <h1 class='mt-6 mb-1 text-4xl tracking-tight'>Запрос на подбор радиаторов Rifar Tubog</h1>

  <div class='mt-2 mb-8 leading-relaxed text-sm font-light'>
    Пожалуйста, заполните форму ниже. Мы подготовим расчет цены и подберем подходящий радиатор Rifar Tubog под ваш
    объект.
  </div>

  <div id='leadWidget'></div>
  <script
    src='/widgets/lead-widget.js'
    data-mount='#leadWidget'
    data-store='VelarShop.ru'
    data-primary='#0d9488'
    data-border='#0d9488'
    data-success-url='/accepted'
    data-privacy-url='/privacy'
    defer
  ></script>
</div>
</Layout>

<script>
  var widgetOptions472580 = { bg_color: "transparent" };
  (function () {
    var a = document.createElement("script"),
      h = "head";
    a.async = true;
    a.style.zIndex = "0";
    a.src =
      (document.location.protocol == "https:" ? "https:" : "http:") +
      "//ucalc.pro/api/widget.js?id=472580&t=" +
      Math.floor((new Date() as unknown as number) / 18e5);
    document.getElementsByTagName(h)[0].appendChild(a);
  })();
</script>
