---
import Layout from "@shared/layouts/Layout.astro";
// TODO !! Форма закрывает часть сайта
---

<Layout
  title='🔥 Расчёт радиаторов и конвекторов | VelarShop.ru'
  hideShoppingCartWidgt={true}
>
  <div>
   <h1 class='mt-6 mb-1 text-4xl tracking-tight'>Получите персональный расчёт радиаторов Velar</h1>

		<div class='mt-6 text-sm text-justify font-light mb-6 m-auto max-w-[800px] leading-relaxed'>
			Опишите ваш проект ниже, и наши специалисты оперативно подготовят полный тепловой расчет и финальную смету (с
			учетом скидки и доставки). Мы отправим результат в выбранный Вами мессенджер или на почту в течение дня. Мы
			уважаем Ваше время и <span class='font-[700] text-teal-600'>не будем звонить без Вашего прямого запроса</span>.
		</div>
    <div class='border-[1px] border-neutral-500 rounded-lg py-2 border-t-[1px] border-dotted'>
      <div class='uCalc_472580'></div>
    </div>
  </div>
</Layout>

<script>
  var widgetOptions472580 = { bg_color: "transparent" };
  (function () {
    var a = document.createElement("script"),
      h = "head";
    a.async = true;
    a.style.zIndex = "0";
    a.src =
      (document.location.protocol == "https:" ? "https:" : "http:") +
      "//ucalc.pro/api/widget.js?id=472580&t=" +
      Math.floor((new Date() as unknown as number) / 18e5);
    document.getElementsByTagName(h)[0].appendChild(a);
  })();
</script>
