---
import Layout from "@shared/layouts/Layout.astro";
import ModelList from "@widgets/ModelList.astro";
---

<Layout title='Чугунные ретро-радиаторы Velar | выгодные цены | VelarShop.ru'>
  <h1 class='text-3xl font-bold mt-7 md:mt-5'>
    Чугунные ретро-радиаторы Velar
  </h1>
  <div class='text-sm max-w-xl mt-3 leading-6'>
    Чугунные радиаторы отлично подойдут для интерьеров, выполненных в
    ретро-стиле, или в стиле лофт. Богатый выбор вариантов покраски радиаторов
    позволит придать им индивидуальность и подчеркнуть стиль помещения.
    Разнообразие цветовой гаммы представлена в каталоге RAL и включает в себя
    несколько тысяч цветов и оттенков. Идеально подчеркнут красоту радиатора
    оттенки золота, бронзы и серебра. Возможны различные эффекты патинации (
    благородного состаривания). Работа производится на профессиональном
    оборудовании, с помощью которого наносятся специальные термостойкие
    красители, придающие радиаторам неповторимый внешний вид.
  </div>
  <ModelList type='ironcast' />
</Layout>
