---
import Layout from '@shared/layouts/Layout.astro'
import Breadcrumbs from '@widgets/breadcrumbs/Breadcrumbs.astro';
import BuyerInfo from '@widgets/buyerInfo/BuyerInfo.astro'
import ModelList from '@widgets/ModelList.astro'
import RetroAdvices from '@widgets/pageRetro/RetroAdvices.astro'
import RetroBenefits from '@widgets/pageRetro/RetroBenefits.astro'
import RetroExamples from '@widgets/pageRetro/RetroExamples.astro'

const crumbs = [
	{title: 'Главная', url: '/'},
	{title: 'Чугунные ретро-радиаторы', url: '/retro'},
]
---

<Layout
	title='Чугунные ретро-радиаторы Velar | выгодные цены | VelarShop.ru'
	description='Чугунные ретро радиаторы Velar представлены 4 моделями (с орнаментом и без). Покраска в любой цвет, включая состаренные цвета, а также нанесение текстур. Срок производства - 2 недели.'
>
	<Breadcrumbs items={crumbs} />

	<h1 class='text-3xl font-bold mt-7 md:mt-5'>
		Чугунные ретро-радиаторы Velar
	</h1>
	<div class='text-sm max-w-2xl mt-3 leading-6'>
		Чугунные ретро радиаторы подойдут для интерьеров, выполненных в ретро-стиле,
		или в стиле лофт. Широкий выбор вариантов покраски радиаторов позволит
		придать им индивидуальность, подчеркнуть стиль помещения. Разнообразие
		цветовой гаммы представлена в каталоге RAL и включает в себя несколько тысяч
		цветов. Подчеркнут красоту радиатора оттенки золота, бронзы и серебра.
		Возможны различные эффекты патинации ( благородного состаривания). Работа
		производится на профессиональном оборудовании, с помощью которого наносятся
		специальные термостойкие красители, придающие радиаторам неповторимый
		внешний вид. Срок производства чугунных ретро-радиаторов составляет <span
			class='font-bold'>2 недели</span
		><sup>*</sup>.
	</div>

	<ModelList type='ironcast' />

	<div class='mt-[40px] text-xs font-light max-w-[500px]'>
		<sup>*</sup> Указан срок производства без учета времени доставки. В некоторых
		случаях срок производства чугунных ретро-радиаторов может быть увеличен, в зависимости
		от загруженности производства. Актуальные сроки уточняйте у менеджера.
	</div>

	<RetroBenefits />

	<RetroExamples />

	<RetroAdvices />

	<BuyerInfo productTitle='чугунные ретро-радиаторы радиаторы Velar' />
</Layout>
