---
import { modelsJsonData } from '@entities/Model'
import BestsellerModels from './BestsellerModels.astro'

const columnModels = ['2180', '3180', '3057', '3030']
const columns = modelsJsonData.filter(m => columnModels.includes(m.id))

const vertical = ['p30v', 'q40v', 'p60v', 'r32v']
const verticals = modelsJsonData.filter(m => vertical.includes(m.id))

const horizontal = ['p30h', 'p60h', 'r42h', 'q80h']
const horizontals = modelsJsonData.filter(m => horizontal.includes(m.id))
---

<section
	id='bestsellers'
	aria-label='Популярные модели'
	class='justify-center max-w-6xl mx-auto px-5 md:px-10 mb-20'
>
	<h2 class='text-3xl font-bold text-left'>Популярные модели</h2>

	<h3 class='mt-8 text-2xl font-bold text-left'>Трубчатые радиаторы</h3>

	<div class='mt-2 text-sm leading-7 max-w-3xl'>
		Стальные радиаторы для квартир, домов и современных интерьеров.
	</div>
	<div class='mt-5 font-thin uppercase'>
		Популярные модели трубчатых радиаторов:
	</div>
	<BestsellerModels models={columns} />
	<div
		class='text-xs mt-[20px] hover:text-red-700 transition-colors duration-300'
	>
		<a href='/columns'>Все трубчатые радиаторы</a>
	</div>

	<!-- ------------- -->

	<h3 class='mt-[50px] text-2xl font-bold text-left'>
		Вертикальные дизайн-радиаторы
	</h3>
	<div class='mt-5 text-sm leading-7 max-w-3xl'>
		Модели для узких стен, гостиных, ванных комнат и интерьерных акцентов.
	</div>
	<div class='mt-5 font-thin uppercase'>
		Популярные модели вертикальных дизайн-радиаторов:
	</div>
	<BestsellerModels models={verticals} />
	<div
		class='text-xs mt-[20px] hover:text-red-700 transition-colors duration-300'
	>
		<a href='/design'>Все вертикальные дизайн-радиаторы</a>
	</div>

	<!-- ------------- -->

	<h3 class='mt-[50px] text-2xl font-bold text-left'>
		Горизонтальные дизайн-радиаторы
	</h3>
	<div class='mt-5 text-sm leading-7 max-w-3xl'>
		Решения для установки под окнами и вдоль стен.
	</div>
	<div class='mt-5 font-thin uppercase'>
		Популярные модели горизонтальных дизайн-радиаторов:
	</div>
	<BestsellerModels models={horizontals} />
	<div
		class='text-xs mt-[20px] hover:text-red-700 transition-colors duration-300'
	>
		<a href='/design'>Все горизонтальные дизайн-радиаторы</a>
	</div>
</section>
