---
import { Picture } from '@astrojs/image/components';
---

<section
  id="docs"
  aria-label="Сертификаты для радиаторов и конвекторов Velar"
  class="justify-center max-w-6xl mx-auto px-5 md:px-10 mt-10">
  <h2 class="text-3xl font-bold text-left">Гарантии и сертификаты</h2>

  <div class="mt-5 text-sm leading-7 max-w-3xl">
    Каждый покупатель оборудования для отопления марки Velar получает заводскую
    гарантию на 10 лет, которая зависит от типа купленного устройства. Важно
    знать, что гарантия остаётся действительной только если установка
    производится лицензированными специалистами. В случае монтажа оборудования
    компанией без соответствующей лицензии, гарантия аннулируется. Это связано с
    возможными нарушениями установочных процедур, описанных в инструкции. Срок
    гарантии указывается в паспорте изделия.
  </div>

  <div class="mt-8 grid gap-9 grid-cols-2 md:grid-cols-4">
    <div>
      <a
        href={'/docs/certs/velar_cert_1.jpg'}
        target="_blank">
        <Picture
          src={'/docs/certs/velar_cert_1.jpg'}
          alt={'Сертификат соответствия'}
          title={'Сертификат соответствия отопительных приборов Velar'}
          loading={'eager'}
          aspectRatio="1346:1920"
          widths={[290, 400, 600]}
          width={290}
          sizes="290px"
          class="border-[1px] border-slate-300 rounded-lg opacity-100 md:opacity-75 hover:opacity-100 hover:shadow-lg transition-opacity duration-300"
        />
      </a>
    </div>
    <div>
      <a
        href={'/docs/certs/velar_cert_2.jpg'}
        target="_blank">
        <Picture
          src={'/docs/certs/velar_cert_2.jpg'}
          alt={'Сертификат соответствия'}
          title={'Сертификат соответствия отопительных приборов Velar'}
          loading={'eager'}
          aspectRatio="1346:1920"
          widths={[290, 400, 600]}
          width={290}
          sizes="290px"
          class="border-[1px] border-slate-300 rounded-lg opacity-100 md:opacity-75 hover:opacity-100 hover:shadow-lg transition-opacity duration-300"
        />
      </a>
    </div>
    <div>
      <a
        href={'/docs/certs/velar_cert_3.jpg'}
        target="_blank">
        <Picture
          src={'/docs/certs/velar_cert_3.jpg'}
          alt={'Сертификат соответствия'}
          title={'Сертификат соответствия отопительных приборов Velar'}
          loading={'eager'}
          aspectRatio="1346:1920"
          widths={[290, 400, 600]}
          width={290}
          sizes="290px"
          class="border-[1px] border-slate-300 rounded-lg opacity-100 md:opacity-75 hover:opacity-100 hover:shadow-lg transition-opacity duration-300"
        />
      </a>
    </div>
    <div>
      <a
        href={'/docs/certs/velar_cert_4.jpg'}
        target="_blank">
        <Picture
          src={'/docs/certs/velar_cert_4.jpg'}
          alt={'Сертификат соответствия'}
          title={'Сертификат соответствия отопительных приборов Velar'}
          loading={'eager'}
          aspectRatio="1346:1920"
          widths={[290, 400, 600]}
          width={290}
          sizes="290px"
          class="border-[1px] border-slate-300 rounded-lg opacity-100 md:opacity-75 hover:opacity-100 hover:shadow-lg transition-opacity duration-300"
        />
      </a>
    </div>
  </div>
</section>
