<section
  id='hero'
  class='flex flex-row justify-center max-w-6xl mx-auto md:px-10 mt-20'
>
  <div class='w-1/2'>
    <h1 class='text-5xl font-bold text-left'>Радиаторы Velar</h1>
    <p class='mt-5 leading-8'>
      <span class='text-red-600'>Velar</span> - это бренд высококачественных приборов
      отопления, не уступающих европейсим аналогам. С 2015 года на производственных
      мощностях завода выпускаются внутрипольные конвекторы, профильные дизайн-радиаторы,
      колончатые стальные радиаторы, чугунные радиаторы, полотенцесушители.
    </p>
  </div>
  <div class='w-1/2'>ss</div>
</section>
