---
import { Picture } from "@astrojs/image/components";
---

<section
  id='advantages'
  class='mt-10 py-10 bg-neutral-100'
>
  <div class='max-w-6xl mx-auto px-5 md:px-10'>
    <h2 class='text-3xl font-bold text-left'>Почему Velar</h2>
    <div
      aria-label='Ключевые преимущества Velar'
      class='mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'
    >
      <div class='flex flex-col items-center gap-4'>
        <Picture
          src='/images/main/advantage1.jpg'
          alt='Дизайн-радиаторы Velar Q80V'
          title='Дизайн-радиаторы Velar Q80V'
          aspectRatio='1:1'
          widths={[100, 200, 250, 400, 500]}
          sizes='(max-width: 640px) 250px,  200px'
          class='rounded-full shadow-lg'
          loading='eager'
        />
        <h3 class='font-light uppercase text-sm'>Большой выбор</h3>
        <p class='text-xs'>
          Velar - это не только дизайн-радиаторы, но также внутрипольные
          конвекторы, чугунные ретро радиаторы, а также стальные трубчатые
          радиаторы. У нас вы сможете подобрать отопительные приборы под любой
          вкус и любые задачи.
        </p>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <Picture
          src='/images/main/advantage2.jpg'
          alt='Дизайн-радиаторы Velar Q80H'
          title='Дизайн-радиаторы Velar Q80H'
          aspectRatio='1:1'
          widths={[100, 200, 250, 400, 500]}
          sizes='(max-width: 640px) 250px,  200px'
          class='rounded-full shadow-lg'
          loading='eager'
        />
        <h3 class='font-light uppercase text-sm'>
          Вертикальные и горизонтальные модели
        </h3>
        <p class='text-xs'>
          Большинство дизайн-радиаторов Velar могут быть изготовлены как в
          вертикальном, так и в горизонтальном исполнении. Вы можете подобрать
          модель, которая идеально впишется в ваш интерьер. А также сочетать их
          друг с другом, придерживаясь единного стиля.
        </p>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <Picture
          src='/images/main/advantage3.jpg'
          alt='Дизайн-радиаторы Velar Q500'
          title='Дизайн-радиаторы Velar Q500'
          aspectRatio='1:1'
          widths={[100, 200, 250, 400, 500]}
          sizes='(max-width: 640px) 250px,  200px'
          class='rounded-full shadow-lg'
          loading='eager'
        />
        <h3 class='font-light uppercase text-sm'>Напольный монтаж</h3>
        <p class='text-xs'>
          Горизонтальные модели могут быть изготовлены с напольными
          кронштейнами. Также в ассортименте имеется линейка напольных
          радиаторов: Q500, P200 и P300. Такие радиаторы отлично подойдут для
          установки перед панорамными окнами.
        </p>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <Picture
          src='/images/main/advantage4.jpg'
          alt='Элетропатрон Terma'
          title='Электропатрон Terma'
          aspectRatio='1:1'
          widths={[100, 200, 250, 400, 500]}
          sizes='(max-width: 640px) 250px,  200px'
          class='rounded-full shadow-lg'
          loading='lazy'
        />
        <h3 class='font-light uppercase text-sm'>
          Электрические версии радиаторов
        </h3>
        <p class='text-xs'>
          По желанию заказчика, радиаторы Velar могут быть оснащены
          электропатронами и работать автономно без подключения к системе
          отопления. Оснащенные держателями для полотенец, подобные радиаторы
          легко трансформируются в полотенцесушители. Свобода в выборе
          расположения радиаторов (можно на балкон).
        </p>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <Picture
          src='/images/main/advantage5.jpg'
          alt='Территория заводп ПРОФКАСТ'
          title='Территория заводп ПРОФКАСТ'
          aspectRatio='1:1'
          widths={[100, 200, 250, 400, 500]}
          sizes='(max-width: 640px) 250px,  200px'
          class='rounded-full shadow-lg'
          loading='lazy'
        />
        <h3 class='font-light uppercase text-sm'>Надежный производитель</h3>
        <p class='text-xs'>
          ПРОФКАСТ - известный производитель отопительного оборудования
          (работает с 2015 года). Производство базируется на собственных
          мощностях и находится в г.Санкт-Петербург. Это означает не только
          короткие сроки поставки моделей под заказ, но также и их надежность.
        </p>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <Picture
          src='/images/main/advantage6.jpg'
          alt='Дизайн-радиатор Velar P60 V'
          title='Дизайн-радиатор Velar P60 V'
          aspectRatio='1:1'
          widths={[100, 200, 250, 400, 500]}
          sizes='(max-width: 640px) 250px,  200px'
          class='rounded-full shadow-lg'
          loading='lazy'
        />
        <h3 class='font-light uppercase text-sm'>Выгодные цены</h3>
        <p class='text-xs'>
          Вы можете приобрести дизайн-радиаторы и конвекторы Velar по выгодным
          ценам. Отдельным плюсом является то, что на дизайн-радиаторы не
          действуют наценки, связанные с выбором подключения или цвета!
        </p>
      </div>
    </div>
  </div>
</section>
