---
---

<div class='mt-4 lg:mt-6 mb-3 text-sm leading-5 font-light max-w-[600px] px-3 py-4 bg-gray-100 rounded-xl'>
	👉 Не знаете, какую модель выбрать? Подберём радиатор Velar под ваши помещения и подготовим предложение
	<span class='font-[700]'>с ценами и сроками</span> в течение дня.
	<div class='mt-4 mb-2'>
		<a
			class='mt-5  bg-teal-600 text-sm text-white ring-[1px] py-2 px-3 rounded-md  hover:opacity-80 hover:no-underline'
			href={"/request"}
			>Запросить подбор →</a
		>
	</div>
</div>
