---
---

<div class='mt-4 lg:mt-4 mb-3 text-sm leading-5 font-light max-w-[600px] px-3 py-4 bg-gray-100 rounded-xl'>
	<div class='mt-3 mb-2'>
		<a
			class='mt-5  bg-teal-600 text-sm text-white ring-[1px] py-2 px-3 rounded-md  hover:opacity-80 hover:no-underline'
			href={"/request"}
			>🔥 Подобрать радиатор под мои условия →</a
		>
	</div>
	<div class="mt-4 text-xs">
	Подскажем, какой радиатор Velar подойдёт под ваши условия, и вышлем расчёт с ценами и сроками <span class='font-[700]'>в течение дня - без звонков, в мессенджере</span>.
	
	</div>
</div>
