---
import Layout from '@shared/layouts/Layout.astro';
---

<Layout
  title="Дизайнерские радиаторы: ответы на частые вопросы | VelarShop.ru"
  description="Ответы на вопросы про дизайнерские радиаторы отопления. Какие бывают, чем отличаются от обычных радиаторов и стоит ли за них переплачивать. Подробности на VelarShop.ru"
  paddings={true}>
  <div
    itemscope
    itemtype="https://schema.org/FAQPage">
    <h1 class="text-3xl font-bold mt-7 md:mt-5">
      Дизайнерские радиаторы отопления: ответы на частые вопросы
    </h1>

    <h2 class="text-xl mt-6">Содержание</h2>
    <ul class="list-disc font-light pl-6 text-xs text-neutral-900">
      <li class="mt-[10px]">
        <a
          href="#q1"
          class="hover:text-red-500">
          Чем дизайнеские радиаторы отопления отличаются от обычных</a
        >
      </li>
      <li class="mt-[10px]">
        <a
          href="#q2"
          class="hover:text-red-500">
          Как подобрать дизайнерский радиатор по мощности
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q3"
          class="hover:text-red-500">
          Подходят ли дизайнерские радиаторы для установки в квартире
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q4"
          class="hover:text-red-500">
          Хватит ли их мощности для отопления
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q5"
          class="hover:text-red-500">
          Какие подключения возможны у дизайнерских радиаторов
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q6"
          class="hover:text-red-500">
          В какой срок можно получить дизайнерские радиаторы под заказ
        </a>
      </li>

      <li class="mt-[10px]">
        <a
          href="#q7"
          class="hover:text-red-500">
          Возможно ли сделать дизайн-радиаторы электрическими
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q8"
          class="hover:text-red-500">
          Чем вертикальные модели отличаются от горизонтальных
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q9"
          class="hover:text-red-500">
          Дизайнерские радиаторы для панорамных окон
        </a>
      </li>
      <li class="mt-[10px]">
        <a
          href="#q10"
          class="hover:text-red-500">
          Где лучше всего устанавливать дизайнерские радиаторы отопления
        </a>
      </li>
    </ul>
  </div>
</Layout>
